/vendor
/node_modules
/.env
.DS_Store
/storage/*.key
/storage/debugbar
/storage/logs
/storage/framework/*
/public/storage
/public/hot
*.log
*.sqlite
*.sqlite3
*.sql
*.bak
*.swp
.env.*
.env.local
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
